<ion-view >
  <ion-content class="setng">
      <div class="list">
    <!-- <ion-toggle toggle-class="toggle-balanced" ng-model="push" ng-click="setting()">
              You Want Notification Alert ?
      </ion-toggle> -->
  <div class="item" ng-click="openBrowser('https://www.kalyanseva.com/term')">
    Disclaimer
    <span class="item-note">
     <i class="icon ion-chevron-right"></i>
    </span>
  </div>
  <div class="item" ng-click="openBrowser('https://www.kalyanseva.com/privacy')">
    Privacy policy
    <span class="item-note">
     <i class="icon ion-chevron-right"></i>
    </span>
  </div>
  <div class="item" ng-click="openBrowser('https://www.kalyanseva.com/about')">
    About
    <span class="item-note">
     <i class="icon ion-chevron-right"></i>
    </span>
  </div>
 <div class="item" href="#">
    Version
    <span class="item-note">
        {{appVersion}}
    </span>
  </div>
</div>
  </ion-content>
</ion-view>
