<ion-view >
  	<ion-content>
	  	<form  class="myForm" name="myForm" ng-submit="domail(user)">
	  		<div class="home_logo_cnt">
		  		<div class="home_logo"></div>
		  	</div>
	  		<div class="main_home">
	  			<div class="text-center">
		  			<h3>{{ 'HEADLINE' | translate }}</h3>
	  			</div>
	  		</div>
	  		<div class="matchresult">
	  			<div class="text-center">
		  			<h4>{{ 'email' | translate }}</h4>

		  		</div>
			  	<div class="desc">
		  			<div class="form_group">
		  				 <h4>{{'name' | translate}}</h4>
		  				 <label class="item item-input">
						    <input type="text" ng-model="user.name" required>
						  </label>
					</div>
					<div class="form_group">
		  				 <h4>{{ 'email' | translate }}</h4>
		  				 <label class="item item-input">
						    <input type="email" ng-model="user.email" required>
						  </label>

					</div>
				</div>
			</div>
			<div class="mailpage_btn">
				<div class="text-center">
					<button class="button button-positive">{{ 'send' | translate }} </button>
				</div>
			</div>
		</form>
  	</ion-content>
</ion-view>