<ion-view >
  	<ion-content>
  		<div class="home_logo_cnt">
	  		<div class="home_logo"></div>
	  	</div>
  		<div class="main_home">
  			<div class="text-center">
	  			<h3>திருமணப் பொருத்தம்</h3>
  			</div>
  		</div>
  		<div class="rasi_form">
  			<form>
  				<div class="form_group">
	  				 <h4>மணமகன் ராசி</h4>
	  				 <label class="item item-input">
					    <input type="text" >
					  </label>
				</div>
				<div class="form_group">
	  				 <h4>மணமகள் ராசி</h4>
	  				 <label class="item item-input">
					    <input type="text" >
					  </label>
				</div>
				<div class="rasi_btn text-center">
					<button class="button button-positive">பொருத்தம் பார்க்க</button>
				</div>

  			</form>
  		</div>

  	</ion-content>
</ion-view>