<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>

      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <div class="logo"></div>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable menu_bar">
      <h1 class="title">Porutham</h1>
    </ion-header-bar>
    <ion-content class="side_menu_list">
      <ion-list>
        <ion-item menu-close href="#/app/mainhome">
         Home
        </ion-item>
        <ion-item menu-close href="#/app/playlist">
          Matching
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Contact
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Settings
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
