<ion-view >
  	<ion-content class="result_page">
  		<div class="overlay"></div>
  		<div class="main_home">
  			<div class="text-center">
	  			<h3>{{ 'HEADLINE' | translate }}</h3>

  			</div>
  		</div>
  		<div class="matchresult">
  			<div class="text-center">
	  			<h4>{{'result' | translate }}</h4>
	  		</div>
	  		<div class="result_img">
	  			<!-- <ion-img width="80" height="80" src="img/r1.png"></ion-img> ionic4 -->
	  			<div class="text-center">
	  				<!-- <img src="../img/r1.png"> -->
	  				<div class="dynamic_result">
		  				<percent-circle percent=match_count speed="20" colors="{ highlight:'#4BC76E', remaining : 'rgb(237, 229, 229)'}"></percent-circle>
		  			</div>
	  				<h4>{{'total' | translate}}- <span>{{match_sub_count}}</span></h4>
	  			</div>
	  		</div>
	  		<div class="btn_result ">

		  		<button class="button button-positive" ng-click="see_description()">{{'explain' | translate}}</button>

		  	</div>
  		</div>

  	</ion-content>
</ion-view>
