/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */

.platform-ios.has-translucent-status-bar .app-header-bar {
    padding-top: 20px;
}

.platform-android.has-translucent-status-bar .app-header-bar  {
    padding-top: 25px;
}
.button:link{
    -webkit-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear;
}
.bar .back-button .icon:before {
    font-size: 32px;
}
ion-slide{
  background:#ffffff;

}
.slider-slide-tab  span:last-child
{border-radius: 10px;
background:#ef473a;
padding: 3px 8px;
  color: white;
  position: relative;
  bottom: 8px;
  left: 5px;    font-weight: bold;box-shadow:0 0 1px #333;
}

  .scrollmenu.scroll-view.scroll-x {
  overflow-x: hidden;  /* default value is 'scroll' */
}
@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
@font-face {
    font-family: myFirstFont;
    src: url('Jennifer Lynne Bold.ttf') format('truetype');
    font-weight: bold;
}
.titre{
font-family:myFirstFont;
font-size:15px;
}
.item-complex .item-content, .item-radio .item-content{
background-color: #18ba46;
    color: #fff;
}
.item .item-content.activated {
    border-color: #ccc;
    background-color: #f49627;
}
/*.item{
border-color: #454545;
}*/
.bar.bar-dark .title {
    color: #f53c3c;
}
.logo
{
    background-image: url(../img/logo.png);
background-repeat: no-repeat;
background-position: center center;
background-size: auto 63px;
height: 79px;
position: absolute;
z-index: 99999;
text-align: center;
left: 50px;
right: 50px;
top: 0;
}
.profile_list .item-input
  {
    display: block !important;
        border: transparent;
  }

.profile_list{
  position: relative;
  top:20px;
  padding: 0px 15px 0px 15px;
}
.myForm .input-label{
font-weight: 600;
color: #000;
font-size: 14px;
}
.error-message
{
  color: #F00;
  white-space: normal !important;
    font-size: 12px;
}
 textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
  input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
   padding-left: 10px !important;
       border-bottom: 2px solid #ec8f16;
}

  .myForm .input-label{
    font-weight: 100;
color: #000;
font-size: 14px;
}
.item-icon-right {
    padding-right: 0px;
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 0px;
    }
    .item-input {
            padding: 6px 0 5px 0px;
        }
.item-md-label .highlight-calm {
    background: #ec8f16 !important;
}
.sign_in{
    background-color: #f88e15 !important;
    margin-top: 15px !important;
    }
    .item-md-label .highlight {
    bottom: 4px;
}
.item-md-label {
    padding-top: 30px !important;
    }
    .bar.bar-stable {
    border-color: transparent !important;
    height: 80px!important;
    background: #ffffff;
  }
.ion-ios-arrow-back,.ion-navicon,.back-button{
    margin-top: 1px;
  }
select{
    margin-top: 30px !important;
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 2px solid #f88e15;
        background-color: transparent;

}
.has-header {
    top: 80px!important;
}
h4
{
  color: #000;
}
.result
{
     color: #EA8E15;
padding: 0px 5px 0px 10px;
font-size: 16px;
}
.result_para{
  color: #6F6060;
  font-size: 14px;
}
.match{
    padding: 1px 10px 5px 10px;
    border-bottom: 1px solid #c6c6c696;
}
.green
{
	color: #227409;
}
.red{
	color: #980B0B;
}
.head_cnt
{
  color: #0D7D2D;
  font-size: 18px;
font-weight: 600;
}
.match_result{
    background-image: url(../img/wallpaper-1477870_960_720.jpg);
    background-position: right;
    background-size: cover;
    background-color: #fbf5f066;
}
.menu_bar
{
    height: 80px !important;
}
.menu_bar .title{
  font-size: 23px!important;
  margin-top: 7%!important;
  font-weight: bold;
  text-align: center!important;
  color:#FE9425!important;
}
.side_menu_list  {
    top: 80px!important;
}
/*.bar .button.back-button, .bar button.back-button {
    display: block;
    }*/
    .hide {
      display: block;
    }
.slider-pager.hide
    {
      display: none;
    }
.app_icon i{
    font-size: 20x;
    color: #088123;
}
/*mainhome page css*/
.main_home
{
  padding: 10px 15px 10px 15px;
}
.main_home h3
{
  color: #4BC76E;
}
.main_home h2
{
  color:#FE9425;
  padding:20px 0px 0px 0px;
}
.home_logo
{
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100px;
    height: 100px;
}
.home_logo_cnt
{
  padding: 25px 0px 20px 0px;
}
.btn_section button
{
    width:100%;
    border-radius:25px;
}
.btn_section
{
  padding: 60px 10px 0px 10px;
}
.form_group input
{
  border: 2px solid #FF9C33;
  border-radius: 30px;
}
.form_group .item-input
{
    border: 2px solid transparent;
   padding: 0px 0px 0px 0px;
       background-color: transparent;
}
.form_group
{
  width: 90%;
  margin:0px auto;
  padding:0px 0px 20px 0px;
}
.form_group h4
{
  color: #6e6868;
}
.rasi_btn{
  padding: 30px 0px 0px 0px;
}
.matchresult
{
  width:90%;
  margin:0px auto;
}
.result_img img
{
  width: 45%;
}
.btn_result
{
  padding: 20px 0px 0px 0px;
  float: right;
}
.desc_para
{
  padding:0px 0px 15px 0px;
  border-bottom: 1px solid #151515;
  margin:20px 0px 0px 0px;
}
.dec_total{
  padding: 20px 0px 0px 0px;
}
.btn_des {
  float: right;
  padding: 10px 0px 0px 0px;
}
.mailpage_btn{
  text-align: center;
  padding: 60px 0px 0px 0px;
}
/*.match_btn{
  padding: 30px 0px 0px 0px;
}*/
.match_outer
{
  background-color: #efe9e9;
box-shadow: 2px 2px 6px 2px #dadada;
}
.main_outer{
  padding: 10px;
}
.porutham_icon{
  float: right;
}
.porutham_cnt{
  border-bottom: 2px solid #cbc3c3;
  padding:10px 0px 10px 0px;
  margin: 10px 0px 0px 0px;
}
.porutham_span{
  font-size: 17px;
color: #098A2D;
}
.mail_btn
{
  padding:20px 20px 20px 20px;
  float:right;
}
.main_match
{
  box-shadow: 2px 2px 6px 2px #dadada;
}
#chartdiv {
  width: 100%;
  height: 100%;
}
.tamil_span
{
  font-size: 14px;
}

.dynamic_result
{
  width:50%;
  margin:30px auto;
}
.accordian_outer{
  padding: 20px 15px;
}
/*accordian css*/
.list .item.item-accordion {
  line-height: 25px;
  padding-top: 5;
  padding-bottom: 5;
  transition: 0.09s all linear;
  /*height: 250px;*/
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.accordian_outer .item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {

    white-space: normal;
}
.contact_space{
  padding: 20px 20px 0px 20px;
}
.contact_space .item {
    border-color: transparent;
  }
.contact_space h3{
  text-align: center;
  margin: 0px 0px 0px 0px;
  color: #4BC76E;
}

 .ionic_ratings .icon {
    font-size: 35px;
  }
  .popup-container .popup {
    width: 300px;
  }
  .porutham_list{
    overflow-y: hidden;
  }

.porutham_list label.slt_labl{
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  padding: 9px 8px 9px 0px;
  background: white;
  width: 100%;
  display: inline-block;
  position: relative;
  margin-top: 15px;
}

.porutham_list select{
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  font-size:14px;
  color:#909090;
  border-radius:0;
  width:275px;
  z-index:2;
  background:transparent;
  margin-top: 0px !important;
  height: 25px;
  padding-left: 45px;
}
.porutham_list .profile_list {
    top: 0px;
  }
.porutham_list label.slt_labl:after{
  content:"\25bc";
  font-size:16px;
  color:white;
  background:#fe8e18;
  width:42px;
  text-align:center;
  line-height: 2.7em;
  top:0;
  right:0;
  bottom:0;
  position:absolute;
  pointer-events:none;
}

.porutham_list option{
  border-bottom:1px solid #eaeaea;
  border-left:3px solid white;
  appearance:none;
}

.porutham_list option:hover{
  background-color:white;
  border-left:3px solid #f3a1a1;

}
.bride_icon,.groom_icon{
    background-image: url(../img/icons8-bride-filled-50.png);
    background-color: #FE8E18;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 2px;
    }
    .groom_icon
    {
      background-image: url(../img/icons8-groom-50.png);
    }
    .button-bar > .button:first-child {
    border-radius: 25px 0px 0px 25px;
}
.button-bar > .button:last-child {
    border-radius: 0px 25px 25px 0px;
}
.button.button-positive.button-outline {
    font-weight: 700;
    color: #F28B0E;
    border-color: #05b337;
    }
    .button.button-positive {
    background-color: #ff9100;
  }
  .button.button-positive.activated {
    border-color: transparent;
    background-color:  #fdab59;
}
.button.button-positive.button-outline.activated {
    background-color: #f28b0e;
    }
.item.active.item-stable.accordian_item
{
  border-color: rgba(200, 198, 198, 0.4);
background-color: rgb(185, 125, 63);
}
.item.item-stable.accordian_item {
    border-color: #c8c6c666;
    background-color: #f28b0e;
    color: #FFF;
}
.app_icon{
    width: 25px;
    text-align: center;
    float: left;
}
.setng .item
{
  overflow: initial;
}

.split_box{
    box-shadow: 0px 1px 7px 3px #d7d7d7;
    padding: 12px;
}
.split_box:first-child{
  margin-left:0;
  margin-right:7.5px;

}
.split_box:last-child{
  margin-left:7.5px;
  margin-right:0;

}
.name_list li{
    border-bottom: 1px dotted #d0d0d0;
    font-size: 15px;
    padding: 5px 0px;
    text-transform: uppercase;
}
.match_result_list li{
    margin-bottom: 10px;
    border-bottom: 2px dotted #d0d0d0;
    padding-bottom: 10px;
}
.match_result_list{
    margin-top: 30px;
    box-shadow: 0px 1px 7px 3px #d7d7d7;
    padding: 10px;
    font-size: 19px;
}
.match_result_list h4{
    background-color: #0bb53c;
    color: #fff;
    margin: 0px;
    padding: 10px;
    margin-bottom: 10px;
}
.split_box h3{
    font-size: 20px;
}
.bar .buttons-left span {
  margin-top: 13px!important;
}
.bar-stable .button.button-clear {
  margin-top: 13px!important;
    margin-left: 5px;
}
